body {
  background: linear-gradient(red, yellow);
  background-attachment: fixed;
}
.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}
li {
  margin-left: 5px;
}
li:hover {
  background-color: rgb(0 0 0 / 10%);
  transition: all 0.5s;
  cursor: default;
}
